/* ------------------- CSS reset ------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap-style: pretty;
}

/* ------------------- Estilos generales ------------------- */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scrollbar-width: none;
}

body {
    display: grid;
    /* grid-template-rows: repeat(2, auto) 1fr; */
    /* background: rgb(255, 180, 138); */
    /* background-repeat: no-repeat; */
    /* width: 100dvw; */
    min-height: 100dvh;
    text-align: center;
    background: linear-gradient(157deg, rgba(255, 180, 138, 1) 0%, rgba(37, 105, 141, 1) 100%);
}

hr {
    color: transparent;
}

h1 {
    font-size: 1.5;
}

h2 {
    place-self: center;
    width: fit-content;
    text-decoration: underline 1px;
}

/* ------------------- Estilos de sección header ------------------- */

header {
    z-index: 1;
}

.hero {
    width: 100%;
}

.brand-name {
    margin: 0;
    padding: 0 .5em;
    color: whitesmoke;
    font-size: 1.5em;
    font-style: oblique;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline 1px;
    letter-spacing: .1em;
}

.home-navigation {
    background: rgba(0, 0, 0, .75);
}

.navigation {
    background: rgba(0, 0, 0, .95);
}

.nav-link {
    font-size: 1.5em;
    font-weight: 600;
}

/* ------------------- Estilos de sección main ------------------- */


main {
    padding-top: 5em;
}

/* main de página principal */

.home-main {
    padding-top: 0;
}

.home-title {
    width: 90%;
    padding: .3em;
    place-self: center;
    font-size: 1.5em;
    mix-blend-mode: overlay;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 50%, rgba(255, 255, 255, 0) 100%);
    color: rgba(0, 0, 0, .80);
    border-radius: 30em;
}

.home-title p {
    margin: 0;
}

.title-2 {
    font-style: oblique;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline 1px;
    letter-spacing: .05em;
}

.lead-articles {
    margin: .5em;
    display: grid;
    gap: .5em;
    position: relative;
}

.lead-articles a:last-child {
    display: none;
}

.lead-articles article {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.lead-articles a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lead-articles a {
    height: 7.5em;
    overflow: hidden;
    border: 1px solid goldenrod;
    border-radius: .625em;
    margin: .5em .2em;
    text-decoration: none;
}

.lead-articles a article h3 {
    font-size: 1.25em;
    font-style: oblique;
    position: absolute;
    width: 100%;
    color: whitesmoke;
    text-align: start;
    padding: .2em .3em;
    background: linear-gradient(to bottom, black 10%, rgb(0 0 0 / 50%) 100%);
}

.definition {
    align-items: center;
}

article span p {
    font-size: 5em;
    margin: 0 1em;
}

/* Main de blog */

.blog-main {
    width: 100%;
}

.blog-posts {
    display: grid;
    gap: 2.5em;
    justify-content: center;
}

.blog-posts a {
    text-decoration: none;
    color: black;
    width: 90vw;
    height: auto;
    overflow: hidden;
}

.blog-posts article {
    display: flex;
    flex-direction: column;
}

.blog-posts article img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-bottom: 1px solid black;
    border-radius: .5em .5em 0 0;
}

.blog-posts article h3 {
    padding: 0 .2em;
    font-size: 1.25em;
    font-style: oblique;
    height: 3em;
    mix-blend-mode: overlay;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 50%, rgba(255, 255, 255, 0) 100%);
    color: black;
    text-align: center;
    border-radius: 0 0 .5em .5em;
    border-bottom: 1px solid black;
    align-content: center;
}

/* main de galería */

.gallery-main {
    color: black;
}

.gallery {
    width: 100%;
    display: grid;
    gap: 1em;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: .5em;
}

/* ------------------- Estilos de sección footer ------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: .5em;
    padding-top: .5em;
}

footer p {
    font-size: .8em;
    font-weight: 600;
}


/* ------------------- Media queries ------------------- */

/*pantallas pequeñas*/

@media only screen and (max-width: 767px) {
    .lead-articles {
        z-index: -1;
    }
}

/* Pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-link {
        font-size: 1.6em;
    }

    .lead-articles {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        place-self: center;
        z-index: -1;
    }

    .lead-articles a {
        height: 15em;
    }

    .lead-articles a:last-child {
        display: inline;
    }

    .blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-posts a {
        width: 100%;
    }

    .gallery {
        grid-template-columns: repeat(12, 1fr);
    }

    .gallery img {
        width: 100%;
    }

    .img-container:nth-child(1) {
        grid-column-start: span 12;
    }

    .img-container:nth-child(2) {
        grid-column-start: span 6;
        grid-row-start: span 1;
    }

    .img-container:nth-child(3) {
        grid-column-start: span 6;
        grid-row-start: span 1;
        place-self: start;
    }

    .img-container:nth-child(4) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(5) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(6) {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }

    .img-container:nth-child(7) {
        grid-column-start: span 6;
        grid-row-start: span 1;
    }

    .img-container:nth-child(8) {
        grid-column-start: span 6;
        grid-row-start: span 1;

    }

    .img-container:nth-child(9) {
        grid-column-start: span 6;
        grid-row-start: span 3;
    }

    .img-container:nth-child(10) {
        grid-column-start: span 6;
        grid-row-start: span 3;
    }

    .img-container:nth-child(11) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(12) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(13) {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }

    .img-container:nth-child(14) {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }

    .img-container:nth-child(15) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(16) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(17) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(18) {
        grid-column-start: span 6;
        grid-row-start: span 2;
    }

    .img-container:nth-child(19) {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }

    .img-container:nth-child(20) {
        grid-column-start: span 12;
        grid-row-start: span 2;
    }
}

/* Pantallas grandes*/

@media screen and (min-width: 992px) {

    .nav-link {
        font-size: 1.2em;
    }

    .lead-articles {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        width: 90%;
        place-self: center;
    }

    .lead-articles a {
        height: 15em;
    }

    .lead-articles a:hover {
        box-shadow: 10px 10px 1.5em black;
        filter: grayscale(0);
        transform: scale(105%);
        transition: all .2s;
    }

    .lead-articles:hover>* {
        filter: grayscale(80%);
    }

    .lead-articles a:last-child {
        display: inline;
    }

    .blog-posts {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-posts a {
        width: 100%;
    }
    
    .gallery {
        width: 90%;
        grid-template-columns: repeat(6, 1fr);
    }

    .gallery img {
        min-width: 100%;
    }

    .img-container:nth-child(1) {
        grid-column-start: span 6;
        grid-row-start: span 1;
        place-self: start;
    }

    .img-container:nth-child(2) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(3) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(4) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .img-container:nth-child(5) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .img-container:nth-child(6) {
        grid-column-start: span 4;
        grid-row-start: span 1;
    }

    .img-container:nth-child(7) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .img-container:nth-child(8) {
        grid-column-start: span 2;
        grid-row-start: span 1;

    }

    .img-container:nth-child(9) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .img-container:nth-child(10) {
        grid-column-start: span 6;
        grid-row-start: span 1;
    }

    .img-container:nth-child(11) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(12) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(13) {
        grid-column-start: span 6;
        grid-row-start: span 1;
    }

    .img-container:nth-child(14) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(15) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(16) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .img-container:nth-child(17) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .img-container:nth-child(18) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .img-container:nth-child(19) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .img-container:nth-child(20) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }
}