/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */

* {
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background: rgb(255, 180, 138);
    background: linear-gradient(157deg, rgba(255, 180, 138, 1) 0%, rgba(37, 105, 141, 1) 100%);
}

/* Estilos de sección header */

header h1 {
    font-size: 3.5em;
}

header nav ul li,
main ul li {
    list-style: none;
    font-size: 1.5em;
    font-weight: 500;
}

header nav ul li a,
main ul li a {
    list-style: none;
    letter-spacing: normal;
    color: black;
}

/* Estilos de sección main */

main ul li a {
    font-size: 1.2em;
    margin: 0;
    padding: 0 .2em;
}

.definition {

    align-items: center;
}

article span p {
    font-size: 5em;
    margin: 0 1em;
}

/* Estilos de sección footer */

footer p {
    font-size: .8em;
    font-weight: 600;
}